.home__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.body img {
  max-width: 100%;
  height: 70vh;
  object-fit: contain; /* or 'cover' based on your preference */
}


